<layout name="layout" />

<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">导航栏名称：</td>
                <td>
                    <input  type="text" name="name" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">对应的控制器名：</td>
                <td>
                    <input  type="text" name="controller" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">对应的方法名：</td>
                <td>
                    <input  type="text" name="action" value="" />
                </td>
            </tr>
            <tr>
                    <td class="label">是否显示</td>
                    <td>
                        <input type="radio" name="is_show" value="1"  checked="checked"  /> 是
                        <input type="radio" name="is_show" value="0"/> 否
                        <br /><br />
                    </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
</script>