<?php require_once('/Public/Home/header.html');?>

<!-- 内容区 -->
	<div class="n-content">
		<div class="n-box">
			<div class="n-top">
				<div class="left floatL">
					<div style="width:100%;height:25%;">
						<p style="font-size:14px;height:30%;line-height:30px;">
							<span style="color:#D11337;">【水氧活肤】</span>深层清洁，补水注氧，提亮肤色
						</p>
						<p style="font-size:14px;">
							青春解码是一项能够快速逆转皮肤衰老的皮肤类美容项目，它能将补充给皮肤的水分电解成离子状态...
						</p>
					</div>
					<div style="width:100%;height:75%;">
						<img style="width:100%;height:100%;" src="/Public/Home/images/detial-1.jpg">
					</div>
				</div>
				<div class="right floatR">
					<div style="width:100%;height:25%;">
						<div style="width:343px;margin:0 auto;height:42px;">
							<!-- <img src="/Public/Home/images/huamei.jpg"> -->
							<img src="/Public/Home/images/small-bk.jpg">
						</div>
					</div>
					<div style="width:100%;height:75%;">
						<div style="height:20%;border-top:1px solid #CCC;line-height:60px;padding-left:30px;">
								<b>
										<span style="font-size:20px;">¥</span>
										<span style="font-size:30px;">450</span>
								</b>
							<!--
								<span style="font-size:14px;color:#777;"><s>原价：¥ 1500</s></span>
							-->
						</div>
						<div style="height:60px;border-top:1px solid #CCC;">
							<div style="width:85%;margin:0 auto;height:22px;margin-top:20px;background:url(Public/images/man.jpg) no-repeat;">
								
								<span style="margin-left:40px;color:#D11337;"><b>516</b></span>人已经加入	
								
							</div>
						</div>
						<div style="height:35%;border-top:1px solid #CCC;">
							<ul style="margin:20px 0 0 30px;height:60px;">
								<li class="floatL" style="margin-right:30px;"><img src="/Public/Home/images/suishi.jpg"></li>
								<li class="floatL" style="margin-right:30px;"><img src="/Public/Home/images/guoqi.jpg"></li>
								<li class="floatL" style="margin-right:30px;"><img src="/Public/Home/images/xianxing.jpg"></li>
								<div class="clear">	</div>
							</ul>
						</div>
						<div style="height:25%;border-top:1px solid #CCC;position: relative	;">
							<div style="width:120px;height:40px;background:#D11337;position:relative;top:30px;left:30px;text-align:center;line-height:40px;">
								<span style="color:white;font-size:18px;">预约抢购</span>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="1F" style="width:100%;margin-top:80px;">	
				<div class="top" style="height:50px;line-height:50px;background-image:url(/Public/Home/images/n-bk.jpg);">
						<div style="width:400px;height:100%;background:#333333;text-align:center;line-height:50px;color:white;margin:0 auto;">
							本单详情
						</div>
				</div>
				<div class="content" style="width:80%;margin:0 auto;">
					<div class="1f" style="width:100%;margin:50px 0 0 0;">
						<div class="top" style="height:50px;line-height:50px;background-image:url(/Public/Home/images/n-bk.jpg);">
							<div style="width:100px;height:100%;background:white;text-align:center;line-height:50px;color:#DE707F;margin:0 auto;">
								项目介绍
							</div>
						</div>
						<div style="font-size:14px;color:#777;letter-spacing:1px;line-height:20px;">
							 
							 青春解码是一项能够快速逆转皮肤衰老的皮肤类美容项目，它能将补充给皮肤的水分电解成离子状态，并通过同极离子相斥的作用，将电解水
							 离子在5秒内直接导入到皮肤的基质层，让内层皮肤细胞真正补充到缺失的水分，为缺水肌肤提供了补水、输水、锁水三部青春呵护。
						</div>								
					</div>
					<div class="2f" style="width:100%;margin:50px 0 0 0;">
						<div class="top" style="height:50px;line-height:50px;background-image:url(/Public/Home/images/n-bk.jpg);">
							<div style="width:300px;height:100%;background:white;text-align:center;line-height:50px;color:#DE707F;margin:0 auto;">
								清春解码仪 比附美容领域的佼佼者
							</div>
						</div>
						<div style="font-size:14px;color:#777;letter-spacing:1px;line-height:20px;">
							 
							 青春解码仪利用雷达电波的准确定位术和无线电波的聚焦术对皮肤进行分层定位,分层 聚焦,刺激皮肤细胞胶原蛋白快速新生, 修复断裂的弹力纤
								维,快速消除深层皱纹,使皮肤保持紧致结实,富有弹性.焕发胶原细胞的生命力, 给皮肤充分供给营养和水,从而修复皱纹、锁住水分,改善肤质、肤色,从
								根本上解决皮肤青春问题。
							<div style="width:207px;height:306px;margin:0 auto;">
								<img src="/Public/Home/images/jiqi.jpg" alt="">
							</div>
						</div>								
					</div>
					<div class="3f" style="width:100%;margin:50px 0 0 0;">
						<div class="top" style="height:50px;line-height:50px;background-image:url(/Public/Home/images/n-bk.jpg);">
							<div style="width:100px;height:100%;background:white;text-align:center;line-height:50px;color:#DE707F;margin:0 auto;">
								技术原理
							</div>
						</div>
						<div style="font-size:14px;color:#777;letter-spacing:1px;line-height:20px;">
							 
							 利用雷达电波准确定位术和无线电波聚焦术对皮肤进行分层定位、分层聚焦，从而刺激皮肤细胞胶原蛋白快速新生，焕发胶原细胞的生命力，
								给皮肤充分供给营养和水，从根本上解决皮肤干燥衰老问题。
						</div>								
					</div>
					<div class="4f" style="width:100%;margin:50px 0 0 0;">
						<div class="top" style="height:50px;line-height:50px;background-image:url(/Public/Home/images/n-bk.jpg);">
							<div style="width:100px;height:100%;background:white;text-align:center;line-height:50px;color:#DE707F;margin:0 auto;">
								技术特色
							</div>
						</div>
						<div style="font-size:14px;color:#777;letter-spacing:1px;line-height:20px;">
							 
							 A：全球唯一一台针对皮肤分层聚焦、分层治疗的雷达电波技术;它不但能解决皱纹、 松弛的问题，而且还能解决肤质、肤色、肤龄的问题。<br />
			        		B：主动彻底激活皮肤细胞的生命活力， 刺激皮肤胶原蛋白的再生，修复受损的皮肤细胞组织; 同时通过大量的补水，使衰老的细胞恢复到
							健康年轻的状态。它不仅能解决皱纹和皮肤松 弛的问题，而且能让皮肤变得光滑、细腻、白晰、水嫩，焕发青春到5-10年。
						</div>								
					</div>
					<div class="5f" style="width:100%;margin:50px 0 0 0;">
						<div class="top" style="height:50px;line-height:50px;background-image:url(/Public/Home/images/n-bk.jpg);">
							<div style="width:100px;height:100%;background:white;text-align:center;line-height:50px;color:#DE707F;margin:0 auto;">
								适应症
							</div>
						</div>
						<div style="font-size:14px;color:#777;letter-spacing:1px;line-height:20px;">		 
							皮肤干燥，皮肤敏感需要修复，因干燥形成的假性细小皱纹，激光治疗祛斑后的干燥，吸脂减肥后皮肤的凹凸不平。
						</div>								
					</div>
					<div class="6f" style="width:100%;margin:50px 0 0 0;">
						<div class="top" style="height:50px;line-height:50px;background-image:url(/Public/Home/images/n-bk.jpg);">
							<div style="width:100px;height:100%;background:white;text-align:center;line-height:50px;color:#DE707F;margin:0 auto;">
								主要功效
							</div>
						</div>
						<div style="font-size:14px;color:#777;letter-spacing:1px;line-height:20px;">		 
							改善假性皱纹：提升松弛皮肤，淡化皱纹，收紧皮肤。<br />
        					焕活肌肤能量：改善面部皮肤干燥状况，补充肌肤水分皮肤细胞营养流失：刺激胶原蛋白再生，为皮肤细胞补充营养物质。<br />
        						深层补水：激光治疗后，皮肤往往会干燥、弹性减弱，青春解码仪可以恢复肌肤细腻、水嫩的状态。
						</div>								
					</div>
				</div>
			</div>
			<div class="2F" style="width:100%;margin-top:80px;">	
				<div class="top" style="height:50px;line-height:50px;background-image:url(/Public/Home/images/n-bk.jpg);">
						<div style="width:400px;height:100%;background:#333333;text-align:center;line-height:50px;color:white;margin:0 auto;">
							操作流程
						</div>
				</div>
				<div class="content" style="width:900px;height:740px;margin:30px auto;">
					<img src="/Public/Home/images/liucheng.jpg">
				</div>
			</div>
		</div>
	</div>



<?php require_once('/Public/Home/footer.html');?>