<?php require_once('__PUBLIC__/Home/header.html');?>

<style type="text/css">
.huamei{
	width:100%;
}

.huamei-top{
	width:100%;
	height:780px;
	background-image:url(/Public/Home/images/huamei-01.jpg) ;
	background-position: center; 
}
</style>

<div class="huamei">
	<div class="huamei-top">
		
	</div>
	<!--list1-->
	<div class="" style="margin:0 auto;width:1000px;">
		<div style="margin:90px 0 70px 0;height:94px;text-align:center;">
			<img src="__PUBLIC__/Home/images/huamei-02.jpg">
		</div>
		<div style="width:900px;height:383px;margin:0 auto;">
			<div class="floatL" style="width:501px;height:383px;">
				<div style="margin:100px 0 30px 0;width:50px;border:1px solid #444;"></div>
				<div>
					<p style="line-height:35px;">
						<span style="color:#d1688e;">免费【旭尔挺综合隆鼻】1名 </span><br />
						注： 旭尔挺综合隆鼻项目包括：进口旭尔挺膨体隆鼻+耳软骨隆鼻+鼻头矫正术
						（具体方案需面诊后由专家制定）
					</p>
				</div>
				<div style="margin:30px 0 0 0;width:50px;border:1px solid #444;"></div>
			</div>
			<div class="floatR" style="width:391px;height:383px;">
				<img src="__PUBLIC__/Home/images/huamei-03.jpg">
			</div>
			<p class="clear"></p>
		</div>
	</div>
	<!--list2-->
	<div class="" style="width:100%;background:#ededed;padding:90px 0;">
		<div style="margin:0 0 70px 0;height:102px;text-align:center;">
			<img src="__PUBLIC__/Home/images/huamei-06.jpg">
		</div>
		<div style="width:800px;height:140px;margin:0 auto;text-align:center;line-height:25px;">
			上海华美携手旭尔挺，联合打造上海华美旭女郎品牌形象大使一名（旭尔挺综合隆鼻案例）。<br />
			该候选人将获得免费综合隆鼻的机会（采用世界轻奢面部整形产品——旭尔挺®面部支架，为您量身定做设计方案），并在4月20日参与南京赛区“旭尔挺®品牌形象大使”落地评选活动，竞选南京赛区“旭尔挺®品牌形象大使”荣誉。优胜者将被授予荣誉证书。由皓思曼倾力打造百万级粉丝网络红人。还将当场签约皓思曼。成为“旭尔挺®品牌形象大使”，由皓思曼提供活动平台。每次出席活动公司将给予丰厚报酬。同时还将获得豪华五星东南亚海岛游。
		</div>
		<div>
			<div style="height:210px;text-align:center;">
				<img src="__PUBLIC__/Home/images/huamei-09.jpg">
			</div>	
			<div style="height:60px;text-align:center;font-size:16px;line-height:60px;">
				操作医生：叶丽萍主任
			</div>		
		</div>
		<div style="width:1000px;margin:0 auto;">
			<div class="floatL" style="width:368px;height:128px;background-image:url(/Public/Home/images/huamei-10.jpg);position:relative;">
				<p style="width:100%;position:absolute;bottom:0;height:50px;color:white;text-align:center;line-height:50px;font-size:20px;">
					2017年2月20日—2017年2月25日
				</p>
			</div>
			<div class="floatR" style="width:368px;height:128px;background-image:url(/Public/Home/images/huamei-07.jpg);position:relative;">
				<p style="width:100%;position:absolute;bottom:0;height:50px;color:white;text-align:center;line-height:50px;font-size:20px;">
					2017年2月26日
				</p>
			</div>
			<p class="clear"></p>
		</div>
		<div style="height:67px;margin:70px 0 30px 0;text-align:center;">
			<img src="__PUBLIC__/Home/images/huamei-04.jpg">
		</div>
		<div style="width:800px;margin:0 auto;line-height:30px;">
			1、平台注册用户, 并关注上海华美医疗美容医院（附医院链接）<br />
			2、参与活动页面报名（附活动页面链接），需***积分（不予退还）<br />
			3、单独发帖，不可匿名发帖。<br />
			4、成功报名发帖后，请将用户名,年龄,职业,身高,体重,联系方式(微信或手机号码)等信息私信医院，
			      确保提供信息真实有效。接受过外科手术及美容针剂者，也请私信医院如实告知。
		</div>
		<div class="fatie" style="margin:30px auto 0;width:200px;height:40px;cursor:pointer;">
			<img src="__PUBLIC__/Home/images/huamei-08.jpg">
		</div>
	</div>	
	<!--list3-->
	<div class="" style="margin:0 auto;width:1000px;">
		<div style="margin:90px 0 70px 0;height:94px;text-align:center;">
			<img src="__PUBLIC__/Home/images/huamei-13.jpg">
		</div>
		<div style="width:660px;margin:0 auto;">
			<p style="height:30px;font-size:18px;">鼻部整形案例</p>
			<div>
				<img src="__PUBLIC__/Home/images/huamei-11.jpg">
			</div>
		</div>
		<div style="width:660px;margin:0 auto;">
			<p style="margin-top:30px;height:30px;font-size:18px;">鼻部综合叶丽萍主任</p>
			<div>
				<img src="__PUBLIC__/Home/images/huamei-12.jpg">
			</div>
		</div>
		<div style="width:600px;height:149px;margin:20px auto 0;background-image:url(/Public/Home/images/huamei-14.jpg);padding:40px 25px 20px 25px;">
			<p style="height:20px ;color:#c82a72;font-weight:bold;">华美鼻部整形专家</p>
			<p style="">
				中国医师协会美容与整形医师分会会员<br />
				叶丽萍医生从事整形美容外科工作多年，具有扎实的理论基础及操作技能，擅长对临床特殊病例的个性化处理。师从陈言汤及王喜梅教授，对眼部整形、眼部修复手术等手术的术前、术后处理经验比较丰富。她的手术素以微创、精细、出血少为前提，手术遵循“三庭五眼”的审美原则，严格秉承微创操作，精细缝合，术后恢复快、成型自然，极其符合现代人们的审美观念。
			</p>
		</div>
	</div>
	<!--list4-->
	<div class="" style="margin:0 auto;width:1000px;">
		<div style="margin:90px 0 70px 0;height:94px;text-align:center;">
			<img src="__PUBLIC__/Home/images/huamei-17.jpg">
		</div>
		<div style="width:1000px;height:300px;">
			<img src="__PUBLIC__/Home/images/huamei-15.jpg">
		</div>
		<div style="padding:40px 0;text-align:center;line-height:25px;">
			上海华美医疗美容医院自2005年创立伊始, 始终坚持 "只为您的美丽, 不断追求卓越" 的品牌塑美理念, <br />
			融合上海金融之都的高端和潮流时尚元素, 结合美丽与科技, 引领前沿技术, 不断创新的医疗美容体系<br />
			和高品质个性化服务, 受到社会各界的广泛赞誉与认可 !
		</div>
		<div style="width:1000px;height:441px;background-image:url(/Public/Home/images/huamei-16.jpg);">

		</div>
		<div style="text-align:center;padding:50px 0 70px 0;">
			<p style="font-size:48px;height:60px;line-height:60px;color:black;">具有四级(高难度)</p>
			<p style="font-size:40px;height:50px;line-height:50px;color:black;">整形资质医院</p>
			<p style="line-height:25px;">
				上海华美医疗美容医院<br />
				担任高校整形美容教学、临床科研任务 ,是整形美容临床教研机构之一<br />
				上海华美具备国家规定可开展高难度4级整形美容手术项目资质
			</p>
		</div>
	</div>
	<!--list5-->
	<div style="width:100%;background:#ededed;padding:90px 0;">
		<div style="margin:0 0 40px 0;height:96px;text-align:center;">
			<img src="__PUBLIC__/Home/images/huamei-18.jpg">
		</div>
		<div style="width:760px;margin:0 auto;line-height:25px;">
			1.将个人信息、身份证电子版私信用户运营部账号（附私信页面）<br />
			2. 确保提供的信息真实有效, 接受其他机构眼部或鼻部手术项目者请如实告知。<br />
			3. 本次活动上海华美院方只提供手术费、体检费、药费，(不包括到院路费等一切费用)。<br />
			4. 免费手术用户的所有手术前后照片、视频等资料将用于平台以及上海华美医疗美容医院的
			    宣传/诊疗/学术交流等目的被使 &nbsp;&nbsp;&nbsp;&nbsp;用，肖像权在合约有效期内归平台&上海华美医疗美容医院所有。<br />
			5. 被选中的免费模特需全程在平台直播自己的整形过程到术后一年为止，需全身公开。<br />
			6. 最终合格者需要由上海华美整形美容医院确定，并和上海华美医生协商后决定手术方案。<br />
			7. 入选顾客在体验前将与平台及治疗医院签署相关免费体验协议。报名帖不予删除。<br />
			8. 最终合格者自发表之日起15天内, 没有和医院方面取得联系时,将被看做自动弃权, 机会将由其他候选人替补。<br />
			9. 免费名额有效期为1个月，活动最终入选者1个月内没有前往医院进行手术，则视为自动弃权。<br />
			10. 活动最终入选者应履行的事项：按照合同定期发送手术前，照片以及手术后记。（手术后第一个月要确保发给医院每天 &nbsp;&nbsp;&nbsp;&nbsp;的恢复照片, 手术后第二个月开始确保每周发给医院一次恢复照片。一共进行12个月。）<br />
			11. 活动最终入选者须在手术前支付5000元押金，平台会在协议达成术后每个月顾客按照要求发布日记以及
			      恢复照片后分期返还。<br />
			       &nbsp;&nbsp;&nbsp;&nbsp;a)第一次返现（20%），完成术后一个月恢复照片分享（符合照片要求）<br />
			        &nbsp;&nbsp;&nbsp;&nbsp;b)第二次返现（40%），完成术后三个月恢复照片分享（符合照片要求）<br />
			        &nbsp;&nbsp;&nbsp;&nbsp;c)第三次返现（20%），完成术后六个月恢复照片分享（符合照片要求）<br />
			        &nbsp;&nbsp;&nbsp;&nbsp;d)第四次返现（20%），完成术后八到十二个月恢复照片分享（符合照片要求）
		</div>
	</div>
	<!--list6-->
	<div style="padding:90px 0;">
		<div style="height:96px;text-align:center;">
			<img src="__PUBLIC__/Home/images/huamei-19.jpg">
		</div>
		<div style="padding:25px 0 0 0;width:900px;margin:0 auto;">
			在1个月之内到院体验，<span style="color:#c0025a;font-weight:bold;">每一个手术部位需全程分享12篇日记(术后第一天，术后第四天，术后第七天，术后半个月，术后一个月，术后三个月，术后五个月，术后六个月，术后八个月，术后十个月，术后一年)。</span>每篇日记字数不得少于200字，照片5张以上。所有照片不得使用PS! 内容可包括对医院、医生的介绍以及术后恢复的情况、治疗部位对比，体验感受等。
		</div>
	</div>
</div>

<style type="text/css">
#fatie{
	width:600px;
	height:910px;
	padding:20px;
	background-image:url(/Public/Home/images/fatie-01.png) ;
	position:fixed;
	top:10px;
	left:440px;
}

</style>

<div id="fatie">
	<p style="width:100%;height:80px;text-align:center;line-height:80px;font-size:18px;color:#ee0973;">
		以下内容请如实详细填写
	</p>
	<form method="post" action="" enctype="multipart/form-data"  style="width:400px;margin:0 auto;">
		<p style="text-align:center;">
			<input type="text" name="title" style="width:400px;border-radius:30px;border:1px solid #888888;height:40px;" placeholder="   标题【上海华美旭女郎免费综合鼻整形招募】+自由标题">		
		</p>
		<p style="text-align:center;">
			<input type="text" name="title" style="width:400px;border-radius:30px;border:1px solid #888888;height:40px;" placeholder="   标题【上海华美旭女郎免费综合鼻整形招募】+自由标题">		
		</p>
	</form>
</div>









<?php require_once('__PUBLIC__/Home/footer.html');?>