<?php require_once('__PUBLIC__/Home/header.html');?>



<style type="text/css">
.theme{
	width:1000px;
	margin:40px auto 100px;
	/*background:#ddd;*/
}
.theme-list1{
	width:100%;
	height:760px;
}

.theme-list1{
	width:100%;
	height:;
}
.theme div{
	position: relative;
}


</style>





<div class="theme">
	<div class="theme-list1">
		<div class="floatL theme-list1-l"  style="width:670px;height:760px;">
			<div class="" style="width:100%;height:365px;">
				<a href="<?php echo U('threey?navNum=6');?>"><img style="width:670px;" src="__PUBLIC__/Home/images/theme-01.jpg"></a>
			</div>
			<div class="" style="width:100%;margin:20px 0;">
				<div class="floatL" style="width:325px;">
					<a href="<?php echo U('lst?navNum=6');?>"><img src="__PUBLIC__/Home/images/theme-02.jpg"></a>
					</div>
				<div class="floatR" style="width:325px;">
					<a href="<?php echo U('lst?navNum=6');?>"><img src="__PUBLIC__/Home/images/theme-03.jpg"></a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="" style="width:100%;">
				<div class="floatL" style="width:325px;">
					<a href="<?php echo U('lst?navNum=6');?>"><img src="__PUBLIC__/Home/images/theme-04.jpg"></a>
				</div>
				<div class="floatR" style="width:325px;">
					<p style="font-size:20px;text-align:center;color:black;">智慧医美100城e折抢购会
</p>
					<p style="font-size:;text-align:center;line-height:40px;"> 
					     E合联盟+整形指南针<br />
						联合打造全国100家互联网+<br />
						   智慧医美e折抢购会
					</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="floatR theme-list1-r" style="width:310px;height:760px;">
			<div style="width:100%;height:290px;">
				<a href="<?php echo U('lst?navNum=6');?>"><img src="__PUBLIC__/Home/images/theme-05.jpg"></a>

			</div>
			<div style="width:100%;height:158px;margin:20px 0;border-bottom:1px solid #999;line-height:35px;text-align:center;">
					 E合联盟+整形指南针<br />
					联合打造全国100家互联网+<br />
					   智慧医美e折抢购会
			</div>
			<div style="width:100%;height:271px;">
				<a href="<?php echo U('lst?navNum=6');?>"><img src="__PUBLIC__/Home/images/theme-06.jpg"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
	
	
		<div class="theme-list3" style="padding:50px 0;">
		<div style="width:100%;height:34px;background-image:url(/Public/Home/images/theme-line.jpg); text-align:center;">
			<a href="<?php echo U('lst?navNum=6');?>"><img src="__PUBLIC__/Home/images/theme-09.jpg"></a>
		</div>
		<div style="text-align:center;font-size:16px;margin-bottom:30px;">[ 更多热门活动精彩体现 ]</div>
		<div>
			<div class="floatL" style="width:;height:280px;">
				<div style="width:240px;height:130px;">
					<a href="<?php echo U('lst?navNum=6');?>">
						<img src="__PUBLIC__/Home/images/theme-11.jpg">
					</a>
					<div style="background:#333;width:100%;height:30px;position:absolute;bottom:0;opacity: 0.8;text-align:center;z-index:10;padding-top:8px;">
						<span style="color:white;text-align:center;">智慧医美100城e折抢购会
						</span>
					</div>
				</div>
				<div style="margin-top:20px;">
					<a href="<?php echo U('lst?navNum=6');?>"><img src="__PUBLIC__/Home/images/theme-13.jpg"></a>
					<div style="background:#333;width:100%;height:30px;position:absolute;bottom:0;opacity: 0.8;text-align:center;z-index:10;padding-top:8px;">
						<span style="color:white;text-align:center;">智慧医美100城e折抢购会
						</span>
					</div>
				</div>
			</div>
			<div class="floatL" style="width:;height:280px;margin:0 20px;">
				<a href="<?php echo U('lst?navNum=6');?>"><img src="__PUBLIC__/Home/images/theme-10.jpg"></a>
				<div style="background:#333;width:100%;height:30px;position:absolute;bottom:0;opacity: 0.8;text-align:center;z-index:10;padding-top:8px;">
						<span style="color:white;text-align:center;">智慧医美100城e折抢购会
						</span>
					</div>
			</div>
			<div class="floatR" style="width:;height:280px;">
				<div>
					<a href="<?php echo U('lst?navNum=6');?>"><img src="__PUBLIC__/Home/images/theme-12.jpg"></a>
					<div style="background:#333;width:100%;height:30px;position:absolute;bottom:0;opacity: 0.8;text-align:center;z-index:10;padding-top:8px;">
						<span style="color:white;text-align:center;">智慧医美100城e折抢购会
						</span>
					</div>
				</div>
				<div style="margin-top:20px;text-align:center;line-height:30px;">
					 E合联盟+整形指南针<br />
					联合打造全国100家互联网+<br />
					   智慧医美e折抢购会
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	
	
	
	
	<div class="theme-list2">
		<!-- <hr style="height:3px;"> -->
		<div style="border-top:2px solid #000;border-bottom:2px solid #000;margin:20px 0;"></div>
		<div style="border-bottom:1px solid #888;">
			<div style="height:49px;margin:15px 0;">
				<a href="<?php echo U('lst?navNum=6');?>"><img src="__PUBLIC__/Home/images/theme-07.jpg"></a>
			</div>
		</div>
		<div class="theme-lb" style="width:100%;height:356px;">
	        <div style="margin-top:0;" class="top_slider" id="pl_app_focus">
	            <div class="ts_inner" node-type="slider">
	                <ul class="slider_list" >
	                    <li class="slider_item ">
	                    	<div class="floatL" style="width:245px;height:256px; padding:50px;">
	                    		<p style="font-size:20px;color:black;"><b>智慧医美100城e折抢购会
									</b></p>
	                    		<p style="color:red;padding:20px 0;border-bottom:1px solid #666;">
	                    			活动时间：2017/02/01 - 2017/03/01
	                    		</p>
	                    		<p style="">
	                    		<br />
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;整形指南针成立于2009年，是一个专门做品质医美限时限量抢购平台，爱美者通过参加整形指南针定期举行的大型活动，在保质保量完成蜕变过程的同时还可以享受最大力度的折扣和最优惠的价格。<br />
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;安全，透明，品质，实惠是整形指南针的代名词。

	                    		</p>

	                    	</div>
	                    	<div class="floatR" style="width:655px;height:356px;">
	                    		<a href="<?php echo U('lst?navNum=6');?>"><img src="__PUBLIC__/Home/images/theme-08.jpg"></a>
	                    	</div>
	                    	<div class="clear"></div>
	                    </li>  
						<li class="slider_item ">
	                    	<div class="floatL" style="width:245px;height:256px; padding:50px;">
	                    		<p style="font-size:20px;color:black;"><b>智慧医美100城e折抢购会
									</b></p>
	                    		<p style="color:red;padding:20px 0;border-bottom:1px solid #666;">
	                    			活动时间：2017/02/01 - 2017/03/01
	                    		</p>
	                    		<p style="">
	                    		<br />
	                    			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;整形指南针成立于2009年，是一个专门做品质医美限时限量抢购平台，爱美者通过参加整形指南针定期举行的大型活动，在保质保量完成蜕变过程的同时还可以享受最大力度的折扣和最优惠的价格。<br />
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;安全，品质，实惠是整形指南针的代名词。
	                    		</p>

	                    	</div>
	                    	<div class="floatR" style="width:655px;height:356px;">
	                    		<a href="<?php echo U('lst?navNum=6');?>"><img src="__PUBLIC__/Home/images/theme-08.jpg"></a>
	                    	</div>
	                    	<div class="clear"></div>
	                    </li> 
	                </ul>
	                <a style="top:140px;" class="slider_btn_left" href="javascript:;" title="" node-type="prev"></a>
	                <a style="top:140px;" class="slider_btn_right" href="javascript:;" title="" node-type="next"></a>
	            </div>
	        </div>  
  		</div>
		<div style="border-top:2px solid #000;border-bottom:2px solid #000;"></div>
	</div>

	
</div>











<?php require_once('__PUBLIC__/Home/footer.html');?>