
<?php require_once('__PUBLIC__/Home/header.html');?>

<style type="text/css">

.cle{
    clear:both;
}
.threey-banner{
    width:100%;
    height:880px;
}
.threey-bk_img{
    height:880px;
    background-image:url(/Public/Home/images/bk_img.jpg);
    background-repeat:no-repeat;
    background-position:center center;
}
.threey-bk_font_box{
    width:1000px;
    height:880px;
    margin:0 auto;
}
.threey-bk_font{
    padding-top:111px;
    float:right;
}
.threey-content{
    width:100%;
    min-height:1000px;
    background-color:rgb(97,63,150);
}
.threey-content .threey-content_title{
    height:140px;
    background-image:url(/Public/Home/images/content_title.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    padding-top:80px;
}
.threey-content .threey-content_time{
    height:56px;
    background-image:url(/Public/Home/images/content_time.jpg);
    background-repeat:no-repeat;
    background-position:center center;
}
.threey-content .threey-content_woman{
    width:1000px;
    height:322px;
    margin:40px auto;
    position:relative;
}
.threey-content .threey-woman20{
    position:absolute;
    left:143px;
}
.threey-content .threey-woman30{
    position:absolute;
    left:429px;
}
.threey-content .threey-woman40{
    position:absolute;
    right:143px;
}
.threey-content .threey-content_font{
    height:353px;
    background-image:url(/Public/Home/images/content_font.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    padding-bottom:50px;
}
.threey-content .threey-content_img{
    height:445px;
    background-image:url(/Public/Home/images/content_img.png);
    background-repeat:no-repeat;
    background-position:center center;
}
</style>
    <!-- 头部背景 -->
    <div class='threey-banner'>
        <div class='threey-bk_img'>
            <div class='threey-bk_font_box'>
                <div class='threey-bk_font'>
                    <img src='/Public/Home/images/bk_font.png'>
                </div>
            </div>
        </div>
    </div>
    <!-- 内容部分 -->
    <div class='threey-content'>
        <div class='threey-content_title'>
        </div>
        <div class='threey-content_time'>
        </div>
        <div class='threey-content_woman'>
            <img class='threey-woman20'src='/Public/Home/images/woman20.jpg' width='140' height='322'>
            <img class='threey-woman30' src='/Public/Home/images/woman30.jpg' width='140' height='322'>
            <img class='threey-woman40' src='/Public/Home/images/woman40.jpg' width='140' height='322'>
        </div>
        <div class='threey-content_font'>
        </div>
        <div class='threey-content_img'>
        </div>
    </div>

<?php require_once('__PUBLIC__/Home/footer.html');?>