<layout name="layout" />

<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">公司名称：</td>
                <td>
                    <input type="text" name="name" /><br /><br />
                </td>
            </tr>
        	<tr>
                <td class="label">公司logo：</td>
                <td>
                    <input type="file" name="picture" /><br /><br />
                </td>
            </tr>
            <tr>
                <td class="label">技能特长：</td>
                <td>
                    <input type="text" size="60" name="good" placeholder="请用','号隔开" /><br /><br />
                </td>
            </tr>
            <tr>
                <td class="label">是否显示：</td>
                <td>
                    <input type="radio" name="is_show" value="1" checked="checked" />是
                    <input type="radio" name="is_show" value="0" />否<br /><br />
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="hidden" name="hos_id" value="<?php echo $hos_id;?>">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
</script>