<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Aquapeel活动页面</title>
	<link rel="stylesheet" href="/Public/Home/css/global.css">
	<link rel="stylesheet" href="/Public/Home/css/activity-aquapeel.css">
	<script src="/Public/Home/js/jquery-1.11.3.min.js"></script>
</head>
<body>

	<!-- activity header banner image -->
	<div class="activity-header-banner">
		<img src="/Public/Home/images/activity-header-banner.jpg" alt="">
	</div>

	<!-- activity introduction module -->
	<div class="introduction margin-center">

		<!-- activity introduction module title image -->
		<div class="activity-aquapeel-title">
			<img src="/Public/Home/images/activity-aquapeel-title.png" alt="">
		</div>

		<!-- activity introduction module content messgae -->
		<div class="introduction-msg">

			<!-- introduction-1 -->
			<div class="introduction-msg-item">
				<div class="item-title">
					<span class="title-index">01</span><span>Most popular</span>
				</div>
				<div class="item-content">
					时下最流行的皮肤清洁仪——大气泡毛孔清洁仪“AquaPeel”来自韩国。
				</div>
			</div>

			<!-- introduction-2 -->
			<div class="introduction-msg-item">
				<div class="item-title">
					<span class="title-index">02</span><span>Maintenance</span>
				</div>
				<div class="item-content">
					让你在繁忙的日常生活中可以方便轻松的去美容院保养皮肤。
			    </div>		
			</div>

			<!-- introduction-3 -->
			<div class="introduction-msg-item">
				<div class="item-title">
					<span class="title-index">03</span><span>Hydra</span>
				</div>
				<div class="item-content">
					有了它你的皮肤就不会处于缺水状态，长皱纹，长斑点了。
				</div>
			</div>

			<!-- introduction-4 -->
			<div class="introduction-msg-item">
				<div class="item-title">
					<span class="title-index">04</span><span>Slow down</span>
				</div>
				<div class="item-content">
					它的主要功能是减缓皮肤层老化，祛除坏死的角质和黑头，
				</div>
			</div>

			<!-- introduction-5 -->
			<div class="introduction-msg-item">
				<div class="item-title">
					<span class="title-index">05</span><span>Injection</span>
				</div>
				<div class="item-content">
					并且同时还会注入浓缩液在肌肤里，
				</div>
			</div>

			<!-- introduction-6 -->
			<div class="introduction-msg-item">
				<div class="item-title">
					<span class="title-index">06</span><span>Moisture</span>
				</div>
				<div class="item-content">
					补充充分的水分使肌肤油水平衡，恢复正常循环，健康水润起来。
				</div>
			</div>

			<!-- introduction-7 -->
			<div class="introduction-msg-item">
				<div class="item-title">
					<span class="title-index">07</span><span>Health</span>
				</div>
				<div class="item-content">
					恢复正常循环，健康水润起来。
				</div>
			</div>

		</div>

		<!-- activity introduction module content image -->
		<div class="introduction-img">
			<img src="/Public/Home/images/aquapeel-introduction-img.jpg" alt="">
		</div>

	</div>

	<!-- activity function module -->
	<div class="function">

		<!-- activity function module title image -->
		<div class="activity-aquapeel-title">
			<img src="/Public/Home/images/activity-aquapeel-function-title.png" alt="">
		</div>

		<!-- activity function module content -->
		<div class="function-container margin-center">

			<!-- function-1 -->
			<div class="function-item">
				<div class="function-item-img">
					<img src="/Public/Home/images/aquapeel-function-item-1.png" alt="">
				</div>
				<div class="function-item-msg">
					随着年龄的增加肌肤细胞的更新速度变慢，那些老化以及死亡的细胞组织正残留在皮肤表面，这就是大家熟知的螨虫、黑头、粉刺
				</div>
			</div>

			<!-- function-2 -->
			<div class="function-item">
				<div class="function-item-img">
					<img src="/Public/Home/images/aquapeel-function-item-2.png" alt="">
				</div>
				<div class="function-item-msg">
					因为这些螨虫、黑头、粉刺我们皮肤变得油腻粗糙，所以我们需要去掉这些死亡的细胞组织，如此便能能够刺激新细胞的生长，让皮肤变得更光滑。
				</div>
			</div>

			<!-- function-3 -->
			<div class="function-item">
				<div class="function-item-img">
					<img src="/Public/Home/images/aquapeel-function-item-3.png" alt="">
				</div>
				<div class="function-item-msg">
					同时，我们需要阻止死去的细胞堵塞毛孔，使皮脂可以正常的循环，有助于减少青春痘与黑头生长。
				</div>
			</div>

			<!-- function-4 -->
			<div class="function-item">
				<div class="function-item-img">
					<img src="/Public/Home/images/aquapeel-function-item-4.png" alt="">
				</div>
				<div class="function-item-msg">
					同时还可以美白我们的皮肤，给皮肤带来水分。
				</div>
			</div>

		</div>

		<!-- activity function module step detail -->
		<div class="activity-aquapeel-title">
			<img src="/Public/Home/images/activity-aquapeel-function-subtitle.png" alt="">
		</div>

		<!-- activity function module step detail content -->
		<div class="function-step margin-center">

			<!-- function step 1 -->
			<div class="function-step-item">
				<div class="step-index"><span>01</span>第一步</div>
				<div class="step-msg">水溶性老化物吸入。也就是前部旋转头，在它旋转的同时可以吸入毛孔内老化物。</div>
			</div>

			<!-- function step 2 -->
			<div class="function-step-item">
				<div class="step-index"><span>02</span>第二步</div>
				<div class="step-msg">脂溶性痘痘溶解和净化。这一步主要利用的是脂溶性成分，净化皮质，黑头，白头和毛孔。</div>
			</div>

			<!-- function step 3 -->
			<div class="function-step-item">
				<div class="step-index"><span>03</span>第三步</div>
				<div class="step-msg">高浓缩精华，维他命供给。高浓缩精华，维他命具有抗酸化作用，可以抑制黑色素并供给营养。</div>
			</div>

		</div>
	</div>


	<!-- activity aquapeel principle module -->
	<div class="principle">

		<!-- activity aquapeel principle module title -->
		<div class="activity-aquapeel-title">
			<img src="/Public/Home/images/activity-aquapeel-principle-title.png" alt="">
		</div>

		<!-- activity aquapeel principle module image -->
		<div class="principle-img">
			<img src="/Public/Home/images/principle-img.png" alt="">
		</div>

		<!-- activity aquapeel principle module message -->
		<div class="principle-msg">
			首先祛除角质是将角质吸进管里，再通过吸管排出来，这个仪器就像一个小吸尘器有一定的吸力，只祛除角质不伤害活性的肌肤组织。<br/>然后从螺旋突出物内流出乳液注入到皮肤内，补充足够的水分，清洁毛孔。<br/>再次就是深层清除皮肤里的垃圾和油脂，排除皮肤里的毒素，从而改善黑头及皮脂。<br/>最后一步才是补充水分和营养，不增大毛孔，使皮肤镇定健康起来。
		</div>
	</div>


	<!-- activity aquapeel step module -->
	<div class="aquapeel-step">

		<div class="margin-center">

			<!-- activity aquapeel step module title -->
			<div class="activity-aquapeel-title">
				<img src="/Public/Home/images/activity-aquapeel-step-title.png" alt="">
			</div>

			<!-- activity aquapeel step module content -->
			<div class="aquapeel-step-container">

				<!-- aqualpeel step 1 -->
				<div class="aquapeel-step-item">
					<div>
						<img src="/Public/Home/images/aquapeel-step-1.png" alt="">
					</div>
					<div>
						第一步开始做洁面
					</div>
				</div>

				<!-- arrow 1 -->
				<div class="aquapeel-step-arrow"></div>

				<!-- aquapeel step 2 -->
				<div class="aquapeel-step-item">
					<div>
						<img src="/Public/Home/images/aquapeel-step-2.png" alt="">
					</div>
					<div>
						第二步就是等肌肤干干净净之后再按摩一下
					</div>
				</div>

				<!-- arrow 2 -->
				<div class="aquapeel-step-arrow"></div>

				<!-- aquapeel step 3 -->
				<div class="aquapeel-step-item">
					<div>
						<img src="/Public/Home/images/aquapeel-step-3.png" alt="">
					</div>
					<div>
						第三步就是用热毛巾敷脸了，目的就是让所有的毛孔都张开来
					</div>
				</div>

				<!-- aquapeel step 4 -->
				<div class="aquapeel-step-item">
					<div>
						<img src="/Public/Home/images/aquapeel-step-4.png" alt="">
					</div>
					<div>
						第四步就是用到大气泡毛孔清洁仪来清除肌肤表层的垃圾了
					</div>
				</div>

				<!-- arrow 3 -->
				<div class="aquapeel-step-arrow"></div>

				<!-- aquapeel step 5 -->
				<div class="aquapeel-step-item">
					<div>
						<img src="/Public/Home/images/aquapeel-step-5.png" alt="">
					</div>
					<div>
						第五步很重要，敷面膜来收缩毛孔，不然毛孔就会变大哦
					</div>
				</div>

				<!-- arrow 4 -->
				<div class="aquapeel-step-arrow"></div>

				<!-- aquapeel step 6 -->
				<div class="aquapeel-step-item">
					<div>
						<img src="/Public/Home/images/aquapeel-step-6.png" alt="">
					</div>
					<div>
						第六步用精华来整理一下自己的面部补充水分和营养。
					</div>
				</div>

			</div>

			<!-- aquapeel step module foot -->
			<div class="aquapeel-step-foot">
				很简单吧，一个月两次就可以使你的皮肤清澈透明，有光泽了。
			</div>

		</div>

	</div>

	<!-- activity aquapeel time of therapy module -->
	<div class="therapy margin-center">
		
		<!-- activity aquapeel time of therapy module title -->
		<div class="activity-aquapeel-title">
			<img src="/Public/Home/images/activity-aquapeel-therapy-title.png" alt="">
		</div>

		<!-- activity aqualpeel time of therapy content -->
		<div class="therapy-content">

			<!-- therapy module image -->
			<div class="therapy-img">
				<img src="/Public/Home/images/therapy-img.jpg" alt="">
			</div>

			<!-- therapy module content -->
			<div class="therapy-msg">
				AquaPeel的治疗时间还很短哦！<br/>只需要15分钟就可以结束，而且没有疼痛感，皮肤不会发热发红，也不会脱皮，根本不需要担心有什么副作用。<br/>更重要的是，只要接受AquaPeel治疗即可清除毛孔内的异物，收敛毛孔，让肌肤变光滑细腻。<br/>改善暗淡的皮肤，使皮肤变得清澈透明。<br/>可以调节皮脂的分泌，促进化妆品的吸收，让肌肤保持水润盈透状态。<br/>同时对肌肤进行修复和补水，让肌肤能够水油平衡。
			</div>

		</div>
	</div>
</body>
</html>