<layout name="layout" />

<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
			<tr>
				<td class="label">上级分类：</td>
				<td>
					<select name="parent_id">
                        <option value="0">顶级分类</option>
                    <?php foreach( $result as $k => $v ):?>
						<option value="<?php echo $v['id'];?>" 
                            <?php if($info['parent_id'] == $v['id']){ echo "selected='selected'";}?>
                        > 
                            <?php echo str_repeat('——',$v['level']+1);?> 
                            <?php echo $v['type_name'];?>
                        </option>
                    <?php endforeach;?>
					</select><br /><br />
				</td>
			</tr>
            <tr>
                <td class="label">分类名称：</td>
                <td>
                    <input  type="text" name="type_name" value="<?php echo $info['type_name'];?>" />
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                    <input type="hidden" name="id" value=" <?php echo $info['id'];?> " />
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
</script>