<?php require_once('/Public/Home/header.html');?>









<div class="h-content">
	<div class="h-top">
		<img style="width:100%;height:230px;" src="/Public/Home/images/z-bg.jpg">
	</div>
	<div class="h-box">
		<div class="h-box-top">
			<img src="/Public/Home/images/z-box-top.jpg">
		</div>
		<div class="h-box-content">
			<ul>
			<?php foreach( $data as $k => $v ):?>
				<li <?php if( ($k+2)%3 === 0 ){ echo "style='margin:0 50px;'";}?>>
					<a href="<?php echo U('detial?navNum=2&id='.$v['id']);?>" target="_blank">
						<img style="width:300px;height:300px;" src="__PUBLIC__/Uploads/<?php echo $v['picture'];?>"></a>
					<div class="name" style="width:298px;height:50px;line-height:50px;text-align:center;">
						<span style="color:#000000;font-size:12px;">
							<?php echo $v['hos_name'];?>
							&nbsp;&nbsp;
							<?php echo $v['name'];?>
						</span>
					</div>
				</li>
			<?php endforeach;?>

				<p class="clear"></p>
			</ul>
<style type="text/css">
.hos-page>div a,span{
	padding:0 15px ;
	color:#C40000;
}
.hos-page .current{
	color:#000000;
}

.hos-page .prev{
	color:blue;
}
.hos-page .next{
	position: none;
	color:#C40000;
}

.hos-page div{
	text-align:center;
}

</style>
			<div class="hos-page" style="">
				<?php echo $page;?>
			</div>
				
		</div>
	</div>
</div>













<?php require_once('/Public/Home/footer.html');?>