<?php require_once('/Public/Home/header.html');?>



<style type="text/css">
.doc-page>div a,span{
	padding:0 15px ;
	color:#C40000;
}
.doc-page .current{
	color:#000000;
}

.doc-page .prev{
	color:blue;
}
.doc-page .next{
	position: none;
	color:#C40000;
}

.doc-page div{
	text-align:center;
}

</style>

<div class="z-content">
	<div class="z-top">
		<img style="width:100%;height:230px;" src="/Public/Home/images/z-bg.jpg">
	</div>
	<div class="z-box">
		<div class="z-box-top">
			<img src="/Public/Home/images/z-box-top.jpg">
		</div>
		<div class="z-box-content">
	<?php foreach( $data as $k => $v ):?>
			<ul>
			<?php foreach( $v as $kk => $vv ):?>
				<li <?php if( $kk !==3 ){echo "style='margin-right:1px;'";}?> 
					doc_id="<?php echo $vv['id'];?>"
					name="<?php echo $vv['name'];?>"
					hos_name="<?php echo $vv['hos_name'];?>" 
					intro="<?php echo htmlspecialchars_decode($vv['intro']);?>"
					>
					<a target="_blank" href="<?php echo U('detial?navNum=2&id='.$vv['id']);?>"><img src="__PUBLIC__/Uploads/<?php echo $vv['picture'];?>" alt=""></a>
				</li>
			<?php endforeach;?>
				<div class="clear"></div>
				<div class="z-over">
					<div class="floatL" style="width:250px;height:100%;">
						<img src="/Public/Home/images/doc1.jpg">
					</div>
					<div class="floatR" style="width:680px;height:195px;padding:30px 30px;">
						<p style="height:40px;">
							<a class="doc_detial" href='javascript:;'>
								<b class="doc-name" style="color:black;font-size:30px;"> </b>
							</a>
						</p>
						<p class=""> 
							<a href="javascript:;">
								<b class="doc-hos_name" style="color:#444444;font-size:18px;"> </b>
							</a>
						</p>
						<div class="doc-intro" style="">
							 
						</div>
						<div class="close" style="width:15px;height:15px;position: absolute;top:0;right:0;background-image:url(/Public/Home/images/close.jpg);cursor:pointer;">
							
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</ul>
	<?php endforeach;?>
			<div class="doc-page">
				<?php echo $page;?>
			</div>
		</div>
	</div>
</div>
















<?php require_once('/Public/Home/footer.html');?>