<?php require_once('/Public/Home/header.html');?>




<div class="z-content">
	<div class="z-top">
		<img style="width:100%;height:230px;" src="/Public/Home/images/z-bg.jpg">
	</div>
	<div class="z-box">
		<div class="z-box-top">
			<img src="/Public/Home/images/z-box-top.jpg">
		</div>
		<div class="z-box-content">
			<ul>
				<li style="margin-right:1px;"><img src="/Public/Home/images/doc1.jpg" alt=""></li>
				<li style="margin-right:1px;"><img src="/Public/Home/images/doc2.jpg" alt=""></li>
				<li style="margin-right:1px;"><img src="/Public/Home/images/doc3.jpg" alt=""></li>
				<li><img src="/Public/Home/images/doc4.jpg" alt=""></li>
				<div class="clear"></div>
				<div class="z-over">
					<div class="floatL" style="width:250px;height:100%;">
						<img src="/Public/Home/images/doc1.jpg">
					</div>
					<div class="floatR" style="width:680px;height:195px;padding:30px 30px;">
						<p style="font-size:24px;"><b>张群</b></p>
						<p>上海华美医疗美容院院长</p>
						<div>
							从医二十多年以来，先后在德国和韩国进修，每年都会参加例如德国全瓷牙学术研讨会、口腔种植修复技术国际学术交流会，多方交流方能汲取各方所长。牙科手术，以改善口腔健康为根本，张群院长精通细琢内一颗牙齿，用牙齿传达温情，传达微笑。
						</div>
						<div class="close" style="width:15px;height:15px;position: absolute;top:0;right:0;background-image:url(/Public/Home/images/close.jpg);cursor:pointer;">
							
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</ul>
			<ul style="margin:25px 0;">
				<li style="margin-right:1px;"><img src="/Public/Home/images/doc3.jpg" alt=""></li>
				<li style="margin-right:1px;"><img src="/Public/Home/images/doc2.jpg" alt=""></li>
				<li style="margin-right:1px;"><img src="/Public/Home/images/doc4.jpg" alt=""></li>
				<li><img src="/Public/Home/images/doc1.jpg" alt=""></li>
				<div class="clear"></div>
				<div class="z-over">
					<div class="floatL" style="width:250px;height:100%;">
						<img src="/Public/Home/images/doc1.jpg">
					</div>
					<div class="floatR" style="width:680px;height:195px;padding:30px 30px;">
						<p style="font-size:24px;"><b>张群</b></p>
						<p>上海华美医疗美容院院长</p>
						<div>
							从医二十多年以来，先后在德国和韩国进修，每年都会参加例如德国全瓷牙学术研讨会、口腔种植修复技术国际学术交流会，多方交流方能汲取各方所长。牙科手术，以改善口腔健康为根本，张群院长精通细琢内一颗牙齿，用牙齿传达温情，传达微笑。
						</div>
						<div class="close" style="width:15px;height:15px;position: absolute;top:0;right:0;background-image:url(/Public/Home/images/close.jpg);cursor:pointer;">
							
						</div>
					</div>
					<div class="clear"></div>
				</div>				
			</ul>
			<ul>
				<li style="margin-right:1px;"><img src="/Public/Home/images/doc2.jpg" alt=""></li>
				<li style="margin-right:1px;"><img src="/Public/Home/images/doc3.jpg" alt=""></li>
				<li style="margin-right:1px;"><img src="/Public/Home/images/doc4.jpg" alt=""></li>
				<li><img src="/Public/Home/images/doc1.jpg" alt=""></li>
				<div class="clear"></div>
				<div class="z-over">
					<div class="floatL" style="width:250px;height:100%;">
						<img src="/Public/Home/images/doc1.jpg">
					</div>
					<div class="floatR" style="width:680px;height:195px;padding:30px 30px;">
						<p style="font-size:24px;"><b>张群</b></p>
						<p>上海华美医疗美容院院长</p>
						<div>
							从医二十多年以来，先后在德国和韩国进修，每年都会参加例如德国全瓷牙学术研讨会、口腔种植修复技术国际学术交流会，多方交流方能汲取各方所长。牙科手术，以改善口腔健康为根本，张群院长精通细琢内一颗牙齿，用牙齿传达温情，传达微笑。
						</div>
						<div class="close" style="width:15px;height:15px;position: absolute;top:0;right:0;background-image:url(/Public/Home/images/close.jpg);cursor:pointer;">
							
						</div>
					</div>
					<div class="clear"></div>
				</div>				
			</ul>

			<div class="z-page">
				<ul style="color:#000;">
					<li><a href="javascript:void(0)"><img src="/Public/Home/images/bl.jpg" alt=""> PREV</a></li>
					<li><a href="javascript:void(0)">1</a></li>
					<li><a style="color:red;" href="javascript:void(0)"><b>2</b></a></li>
					<li><a href="javascript:void(0)">3</a></li>
					<li><a href="javascript:void(0)">...</a></li>
					<li><a href="javascript:void(0)">20</a></li>
					<li><a style="color:red;" href="javascript:void(0)">NEXT <img src="/Public/Home/images/rr.jpg" alt=""></a></li>
					<p class="clear"></p>
				</ul>
			</div>
		</div>
	</div>
</div>















<?php require_once('/Public/Home/footer.html');?>