html,body
{
	margin: 0;
	padding: 0;
	font-family: '微软雅黑';
}
p
{
	margin: 0;
	padding: 0;
}
img
{
	/*width: 100%;*/
}
ul
{
	margin: 0;
	padding: 0;
}
.container-normal
{
	max-width: 768px;
	margin: 0 auto;
	overflow: hidden;
}
.icon
{
	display: inline-block;
}
a
{
	text-decoration: none;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.clearfix:after
{
	display: block;
	content: '';
	clear: both;
}
.icon-star-d
{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(/Public/Home/images/icon-star-d.png);
	background-size: 100% 100%;
}
.icon-star
{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(/Public/Home/images/icon-star.png);
	background-size: 100% 100%;
}